div{
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url(pexels.jpg);
    background-size: cover;
    /* background-size: contain;
    background-size: auto; */
    color: white;
}