#container
{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    /* 
    flex-direction: column-reverse;
    flex-direction: row ;    by default set to row
    flex-direction: row-reverse; */
    /* justify-content: flex-start;  //by defalut  
    justify-content: flex-end;    
    justify-content: center;     */
    /* justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */
    /* flex-wrap: nowrap;  /*  by default */
    /* flex-wrap: wrap;
    flex-wrap: wrap-reverse; */ 
    /* align-items: flex-start;
    align-items: flex-end;
    align-items: baseline;
    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
    align-content: space-evenly;
    align-content: baseline; */

    align-content: flex-start;



}
h1{
    text-align: center;
}

#container div 
{
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
#org
{
    align-self: flex-start;
    align-self: flex-end;
    align-self: center;
    align-self: baseline ;
    flex-basis: 50px;
}
#blue
{
    flex-basis: 400px;
}