h1{
    color: red;
    background-color: grey ;
}
h2
{
    color: rgb(209,4,161);
}
h3{
    color: #ff00ff;
}
p{
    color: blue;
    background-color: cornsilk;

}
button{
    color: gold;
    background-color:black;
}

