h1{
    text-align: center;
    border: solid;
    text-decoration: wavy red underline;
    letter-spacing: 5px;
    font-family: arial;
}
h3{
    text-align: right;
    text-decoration: pink line-through;
    
}
p{
    text-align: justify;
    font-weight: 400;
    line-height: 2.5;
    font-size: 15px;
    
}
h2{
    text-decoration: double blue overline;
    font-weight: 800; 
    font-family: impact;
}
a
{
    text-decoration: none;
    font-family: fantasy;
}